ssl/*.pem
ssl/*.p12
ssl/*.keystore
scripts/*.tgz
**/*.pyc
.vscode
config/oam/SSOAdminTools-13.0.0/ace
config/oam/SSOAdminTools-13.0.0/debug
config/oam/SSOAdminTools-13.0.0/log
config/oam/SSOAdminTools-13.0.0/*.txt
scripts/debug
scripts/log
.DS_Store
ace.war
